body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 145);
    font-style: normal;
    background-image: url('https://img.wattpad.com/cd57d9c9d50a7b791aa248ce414be695fb8793ee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f37595a4a776f3531395a5f6d6c513d3d2d313230393437393933332e313665323435356361613461303935373130393930393633383737352e676966');
    display: grid;
    background-size: 100%;
    align-items: center;
    align-self: center;
    align-content: center;
    align-tracks: center;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
}

p {
    font-size: 50px;
}