body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 145);
    font-style: normal;
    background-image: url(' ');
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px; 
}