body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000; /* Faixa preta */
    padding: 20px 30px;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 300px; /* Altere o tamanho conforme necessário */
    height: auto;
}
